@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@300&family=Poppins:ital,wght@0,400;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    
}

.intro-image {
    background-image: url("../img/image1.jpg");
    background-attachment: fixed;
    height: 600px;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

.intro-image__link a {
    background-color: #c8a894c7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.5rem;
    color: #222424;
    padding: 1rem;
    border: 2px solid #22242428;
    transition: all 1s ease-in-out;

}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro_text {
    height: 350px;
    background-color: #ccb3a4;
    color: #222424;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;


}

.intro_text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
}

.quality-image {
    height: 450px;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.quality-image__link a {
    background-color: #202122e3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.5rem;
    color: #967c70;
    padding: 1rem;
    border: 2px solid #2224245e;
    transition: all 1s ease-in-out;
  
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.quality_text {
    height: 350px;
    background-color: #ccb3a4;
    color: #222424;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.quality-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #222424;
   
    color: rgb(214, 214, 192);
    padding-top: 2rem;
    font-size: 1.5rem;
}

.footer ul li{
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: rgb(214, 214, 192);
    text-decoration: none;
}

.footer ul li:hover {
    transform: scale(1.2);
    
}

.original-image {
    height: 450px;
    background-image: url('../img/image3.jpg');
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.original-image__link a {
    background-color: #202122e3;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 2.5rem;
    color: #967c70;
    padding: 1rem;
    border: 2px solid #2224245e;
    transition: all 1s ease-in-out;
  
}

.original-image__link a:hover {
    transform: scale(1.2);
}

.original_text {
    height: 350px;
    background-color: #ccb3a4;
    color: #222424;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}

.original-text__textbox h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}